@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{

    font-family: "Playfair Display";
    color: white;
    width: 900px;
    height: 1000px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

#Encabezado{
    width: auto;
    
}
.encabezado{

    height: 15%;
    background-color: rgb(88, 40, 1);
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 36px;
}

#Barra-de-navegacion{
    background-color: rgb(114, 61, 1);
    height: 5%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.lia{
    text-align: center;
    display: inline;
}

ul{

    display:inline;
    width: auto;
    padding: 0px;
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: white;
}
li a:hover{

    color: aqua;
}

#Aside{

    width: 35%;
    height: auto;
    text-align: justify;
    background-color: rgb(32, 19, 0);
}

.asside{
    margin-left: 50px;
    padding: 10;
    font-display:center;
}

#Seccion{

    width: 64%;
    height: auto;
    background-color:rgb(32, 19, 0);
    margin-right: 10px;
}

.sect{
    margin-left: 30px;
    width: 500px;
    text-align: justify;
    font-size: 15px;
}

.prueba{

    justify-content: space-evenly;
    align-items:stretch;
    display: flex;
}


.img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 10px;
}

.imagen2{

    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-bottom: 70px;

}

#Pie-de-pagina{

    background-color: rgb(88, 40, 1);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}