@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

body {
  background-image: url("../assets/imgHeroes/fondo.jpg");   
  background-repeat: no-repeat;         
  background-size: cover;                
  background-position: center;          
  background-attachment: fixed;
  text-align: center;     
  font-family: "Story Script";
}

ul{

    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-transform: initial;
}

li{
    display: inline;
    margin: 2em;
    padding: 10px,30px;
    
}
li a{

    text-decoration: none;
}

nav ul li a {
    color: red;
    text-decoration: none;
}

nav ul li a:hover {
    color: darkgreen;
}

header{
    padding: 150px;
    background-image: url(../assets/imgHeroes/fondoheader.webp);
    background-repeat: no-repeat;
    background-position: center;       
    background-attachment: scroll;
    text-align: right;
}


.img{
    display: block;
    margin: 0 auto;
    max-width: auto;
    height: 300px;


}

.tarjeta{

    overflow: hidden;
    max-width: auto;
    height: 100%;
    margin: auto;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    border-color: green white red;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    font-size: 20px;
} 
.tarjeta2{
    max-width: auto;
    margin: auto;
    text-align: justify;
    border: 4px solid;
    border-radius: 20px;
    border-color: green white red ;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    font-size: 30px;
} 


.disp{
    display: flex;
    justify-content: space-evenly;
}

h3{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer{

    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 10px;
}