* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    max-width: 100%;
    background-color: black;
    margin: 0 auto;
}
/*
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px;
    z-index: 1000;
}*/

.menu {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {

    font-size: 30px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {

    position: relative;
    float: left;
}

.menu .navbar ul li a {

    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover {

    color: darkcyan;
}

#menu {

    display: none;
}

.menu-icon {

    width: 25px;
}

.menu label {

    cursor: pointer;
    display: none;
}

p {

    text-align: center;
    color: black;
    z-index: 1000;
}

@media (max-width:660px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(5, 5, 4);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu:checked~.navbar {
        display: initial;
    }
}